/* 
    Created on : 4.1.2016, 17:02:53
    Author     : hyttijan
*/
.rating{
    float:left;
    unicode-bidi: override;
    direction:rtl;
}
.rating input[type="radio"]{
    display:none;
}
.rating > label:before{ 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > label{
 color: #ddd; 
}
.rating input:checked+label,
.rating input:checked+label ~label {
    color: #ff0;
}
.rating > input:not([disabled])+label:hover,
.rating > label:hover ~ input:not([disabled])+label{
   color: #ff0;
}




